.middle {
    margin-left: auto;
    margin-top: auto;
}

html, body, #app, #app>div {
    height: 100%
  }

  .center {
    width: auto;
    height: auto;
    min-width: 600px;
    min-height: 600px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #profile-pic {
    max-width: 275px;
    max-height: 275px;
  }

.profile {
    max-width: 400px;
    max-height: 400px;
}

#logo {
  color: black;
}